body {
  background: #eee;
  text-align: left;
  width: 800px;
  margin: 100px auto;
  font-size: 24px;
}
.invisible {
  display: none;
}
.errormsg {
  color: red;
}
.successmsg {
  color: green;
}
.logo-group {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 60px;
    margin: 0 auto 10px 15%;
}
.enterform {
  margin: 0 auto 10px 15%;
  width: 100%;
  display: flex;
  justify-content: start;
}
.enterform * {
  margin: 5px;
}
.sn-mir        { background-image: url("../img/mirnps.jpg");}
.sn-visa       { background-image: url("../img/Visa.png");}
.sn-mastercard { background-image: url("../img/mastercard.jpg");}
.sn-maestro    { background-image: url("../img/maestro.png");}
.sn-unionpay   { background-image: url("../img/unionpay.jpg");}

.sn-icon {
  background-repeat: no-repeat;
  background-size: contain;
  box-sizing: border-box;
  background-position: center;
  width: 48px;
  height: 30px;
  margin: 2px;
}
.sn-unselected {
  background-color: rgba(180, 180, 180, 0.95);
  background-blend-mode: multiply;
  border-collapse: collapse;
  border-radius: 3px;
  border: solid 1px #000;
}
.cardtypeinfo {
  min-height: 1.5em;
}
#entercard.valid {
  background-color: #0c0;
}
#entercard.invalid {
  background-color: #c00;
}
